:root {
  --spacing: 8px;
  --font-family: 'Inter', sans-serif;
  --color-accents-1: #fafafa;
  --color-accents-2: #eaeaea;
  --color-accents-3: #999;
  --color-accents-4: #888;
  --color-accents-5: #666;
  --color-accents-6: #444;
  --color-accents-7: #333;
  --color-accents-8: #111;
}

[id] {
  scroll-margin-top: 2ex;
}

.container {
  max-width: 980px;
  margin: 5vh auto;
  padding: 0 5vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--spacing) * 40);
  min-height: 100vh;
  margin-bottom: calc(var(--spacing) * 10);
  font-family: var(--font-family);
}

.header__heading {
  color: var(--color-accents-7);
  font-size: 3rem;
  font-weight: 800;
}

.header__sub {
  margin-top: calc(var(--spacing) * 2);
  color: var(--color-accents-5);
}

.header-guide {
  display: flex;
  margin-top: calc(var(--spacing) * 6);
}

.header-guide__item:not(:first-child) {
  margin-left: calc(var(--spacing) * 1.5);
}

.header-guide__button,
.header-guide__button--github {
  display: block;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  background-color: var(--color-accents-5);
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.025em;
  text-decoration: none;
}

.header-guide__button:hover {
  background-color: var(--color-accents-6);
}

.header-guide__button--github {
  background-color: var(--color-accents-6);
}

.header-guide__button--github:hover {
  background-color: var(--color-accents-8);
}

.section-heading {
  margin-bottom: calc(var(--spacing) * 4);
  color: var(--color-accents-7);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.section-container {
  margin-bottom: calc(var(--spacing) * 15);
}

.install-content__preformatted {
  padding: 1rem 1.5rem;
  overflow: auto;
  border-radius: 6px;
  background-color: var(--color-accents-2);
  font-size: 1rem;
  line-height: 1.45;
  user-select: all;
}

.content {
  margin-bottom: calc(var(--spacing) * 6);
}

.content__heading {
  margin-bottom: calc(var(--spacing) * 2);
  color: var(--color-accents-7);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
}

.content__sub-heading {
  margin-bottom: calc(var(--spacing) * 1.8);
  color: var(--color-accents-6);
  font-family: var(--font-family);
  font-size: 1.4rem;
}

.playground {
  margin-bottom: calc(var(--spacing) * 3);
  padding: 1.5rem;
  border: 1px solid var(--color-accents-2);
  border-radius: calc(var(--spacing) * 0.5);
}

.playground__item:not(:first-child) {
  margin-top: calc(var(--spacing) * 2);
}

@media (max-width: 767px) {
  .playground__item:not(:first-child) {
    margin-top: calc(var(--spacing) * 3);
  }
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.content-list__item:not(:first-child) {
  margin-left: calc(var(--spacing) * 1.5);
}

@media (max-width: 767px) {
  .content-list__item {
    width: 100%;
  }

  .content-list__item:not(:first-child) {
    margin-top: calc(var(--spacing) * 1.5);
    margin-left: 0;
  }
}

.footer {
  padding: calc(var(--spacing) * 5) 0;
  color: var(--color-accents-5);
  text-align: center;
}

.footer a {
  color: var(--color-accents-8);
}
